.header {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;

  .headerLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      color: var(--text);
      font-size: 1.2rem;
      background-color: #fff;
      font-weight: 600;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      .headerLink {
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        color: var(--text);
        align-items: center;
        justify-content: center;

        span {
          margin-left: 8px;
        }
      }
    }
  }
}
